version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:7
    container_name: mongo
    expose:
      - "27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
